# Avoid accidentally committing a token
.agtoken
agtoken
token

# Python temporary files
*.pyc
__pycache__

# Python virtual environment 
/env/
/env2/
/env3/
/.venv/
/venv/

# Python distribution productions
dist/
build/
*.egg-info/

# Editors
*~

# Test tools
/.tox/
/tmp/
/.coverage*
*,cover
